nav {
    height: 80px;
    background-color: #3F3D56;
    width: 100%;
}

.nav-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links a{
    margin-left: 2em;
    color: #fff;
    text-decoration: none;
}

.register {
    background-color: #ff5e43;
    padding: 0.7em;
    border-radius: 0.5em;
}