.hero {
    height: 900px;
    /* background-color: blue; */
}

.hero-wrapper {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.hero-left, .hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* background-color: blueviolet; */
}

.hero-right {
    /* background-color: brown; */
}

.hero-img {
    height: 40%;
}

.left-text {
    width: 70%;
}

.left-text h1{
    font-size: 4.5em;
    margin: 0.3em 0;
}

.left-text p {
    margin-bottom: 2.5em;
    font-size: 1.5em;
}

.register {
    text-decoration: none;
    color: #fff;
    position: relative;
    background-color: #7DBA40;
}

.register-shadow {
    position: absolute;
    background-color: blue;
    padding: 1em;
    width: 3em;
    left: 20%;
}

.forget {
    background-color: #5dace2;
    background-color: #ff5e43;
    background-color: #ae84d3;
    background-color: #835e8b;
    background-color: #3F3D56;
    border-radius: 0.2em;
    color: #fff;
    text-align: center;
    margin-top: 0;
}

