@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #fafafa;
}

h1, p {
    color: #1f1f1f;
}

button {
    /* background-color: #ff5e43; */
    /* background-color: #F06F6F; */
    background-color: #7DBA40;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 7px;
}

.logout {
    text-decoration: none;
    margin-left: 2em;
    cursor: pointer;
}